{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
h1{
    text-align:center;
    color:green;
    padding: 20px;
}
nav{
    background-color:lime;
    display: grid;
    place-items: center;
}
nav ul{
    list-style-type:none;
}
nav ul a{
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    color:blue;
    font-size: 18px;
}
nav ul a:hover{
    background-color:aquamarine;
    color:white;
}

.items{
    display:grid;
    padding: 30px 20px;
    grid-row-gap: 30px;
    grid-column-gap: 20px;
}

.item img{
    width: 300px;
    height: 300px;
    cursor:pointer;
}
.item img:hover{
    transform: scale(1.04);
}
.item button{
    background-color:green;
    color:white;
}